<?php
/**
* SocialEngine
*
* @category   Application_Extensions
* @package    Classified
* @copyright  Copyright 2006-2010 Webligo Developments
* @license    http://www.socialengine.com/license/
* @version    $Id: index.tpl 9747 2012-07-26 02:08:08Z john $
* @author     Jung
*/
?>

<script type="text/javascript">
    en4.core.runonce.add(function(){

    < ?php if (!$this - > renderOne): ? >
            var anchor = $('profile_classifieds').getParent();
            $('profile_classifieds_previous').style.display = '<?php echo ( $this->paginator->getCurrentPageNumber() == 1 ? 'none' : '' ) ?>';
            $('profile_classifieds_next').style.display = '<?php echo ( $this->paginator->count() == $this->paginator->getCurrentPageNumber() ? 'none' : '' ) ?>';
            $('profile_classifieds_previous').removeEvents('click').addEvent('click', function(){
    en4.core.request.send(new Request.HTML({
    url : en4.core.baseUrl + 'widget/index/content_id/' + < ?php echo sprintf('%d', $this - > identity) ? > ,
            data : {
    format : 'html',
            subject : en4.core.subject.guid,
            page : < ?php echo sprintf('%d', $this - > paginator - > getCurrentPageNumber() - 1) ? >
    }
    }), {
    'element' : anchor
    })
    });
            $('profile_classifieds_next').removeEvents('click').addEvent('click', function(){
    en4.core.request.send(new Request.HTML({
    url : en4.core.baseUrl + 'widget/index/content_id/' + < ?php echo sprintf('%d', $this - > identity) ? > ,
            data : {
    format : 'html',
            subject : en4.core.subject.guid,
            page : < ?php echo sprintf('%d', $this - > paginator - > getCurrentPageNumber() + 1) ? >
    }
    }), {
    'element' : anchor
    })
    });
            < ?php endif; ? >
    });</script>



<ul id="profile_classifieds" class="classifieds_profile_tab">
    <?php foreach( $this->paginator as $item ): ?>
    <li>
        <div class='classifieds_profile_tab_photo'>
            <?php echo $this->htmlLink($item->getHref(), $this->itemPhoto($item, 'thumb.normal')) ?>
        </div>
        <div class='classifieds_profile_tab_info'>
            <div class='classifieds_profile_tab_title'>
                <?php echo $this->htmlLink($item->getHref(), $item->getTitle()) ?>
                <?php if( $item->closed ): ?>
                <img src='<?php echo $this->layout()->staticBaseUrl ?>application/modules/Classified/externals/images/close.png'/>
                <?php endif;?>
            </div>
            <div class='classifieds_browse_info_date'>
                <?php echo $this->timestamp(strtotime($item->creation_date)) ?>
            </div>
            <div class='classifieds_browse_info_blurb'>
                <?php echo $this->string()->truncate($this->string()->stripTags($item->body), 300) ?>
            </div>
        </div>
    </li>
    <?php endforeach; ?>
</ul>

<div>
    <div id="profile_classifieds_previous" class="paginator_previous">
        <?php echo $this->htmlLink('javascript:void(0);', $this->translate('Previous'), array(
        'onclick' => '',
        'class' => 'buttonlink icon_previous'
        )); ?>
    </div>
    <div id="profile_classifieds_next" class="paginator_next">
        <?php echo $this->htmlLink('javascript:void(0);', $this->translate('Next'), array(
        'onclick' => '',
        'class' => 'buttonlink_right icon_next'
        )); ?>
    </div>
</div>